html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-size: 1.5em;
    font-family: 'Azo Sans Light';
}


.navbar {
    font-size: 0.875em;
    margin-bottom: 0%;
    padding-right: 15%;
    padding-top: 4%;
    padding-left: 15%;
    padding-bottom: 3%;
    background-color: transparent;
    border-radius: 0;
    width: 95%;

}

.navbar-nav li a {
    color: white;
}

.navbar-nav li a:hover {
    background-color: transparent;
    font-family: 'Azo Sans';
    font-weight: bold;
    color: white;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding-top: 13%;
    padding-left: 150%;

}

a {
    color: white;
}

a:hover {
    color: #464646;
    font-weight: bolder;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.btn-nav {
    border-radius: 0;
    background-color: white;
    border-color: #D15C0F;
    color: #BF5F06;
    font-family: 'Azo Sans';
    font-weight: bolder;
    border: 2px solid;
    margin: 11px;
    padding-top: 4%;
    padding-bottom: 4%;
}

.btn-ghostlyfind {
    border-radius: 0;
    background-color: #CF4F11;
    border-color: #D55E0F !important;
    color: white;
    font-family: 'Azo Sans';
    font-weight: bold;
    border: 2px solid;
    margin: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.2em;
    margin-bottom: 4%;
    width: 90%;
    text-align: center;
}

.btn-book {
    border-radius: 0;
    background-color: #ea8427;
    color: #ffffff;
    font-family: 'Azo Sans';
    font-weight: bold;
    border: 2px solid;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.2em;
    margin-bottom: 10%;
    text-align: center;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-book:hover {
    text-decoration: none;
}

.btn-bookend {
    border-radius: 0;
    background-color: white;
    color: #ea8427;
    font-family: 'Azo Sans';
    font-weight: bold;
    border: 2px solid;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.2em;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    display: inline-block;
    margin-top: 3%;
    margin-left: -2%;
}

.btn-bookend:hover {
    text-decoration: none;
}


.ourtours {
    padding: 0%;
    background-color: #EA8428;
    padding-bottom: 4%;
}

.header-text h1 {
    font-size: 11.5em;
    font-family: 'TELONE';
    color: white;
    font-weight: 100;
    margin-bottom: 0%;
    padding-left: 11%;
}

.header-text h2 {
    font-size: 12em;
    font-family: 'Freshline';
    color: white;
    font-weight: 100;
    margin-top: 7px;
}

.header-text p {
    color: white;
    width: 90%;
    padding-left: 23%;
    text-align: left;
    margin-bottom: 5%;
    font-weight: 500;
    font-family: 'Azo Sans';
}

.icons {
    padding-left: 21%;
}

.intro {
    margin-top: 5%;
    width: 75%;
}

.img1 {
    border-top: 20px solid;
    border-color: white;
    padding: 0%;
}

.img2 {
    padding: 0%;
    border-top: 20px solid !important;
    border-color: white !important;
    border-left: 20px solid;
    border-right: 20px solid;
    margin-top: -2%;
}

.img3 {
    border-top: 20px solid;
    border-color: white;
    padding: 0%;
}

.tourdetails {
    margin-top: 2%;
    width: 75%;
    margin-bottom: 3%;
}

.text-bold {
    color: #ea8427;
    font-weight: bolder;
    font-family: 'Azo Sans';
    margin-bottom: 4%;
}

.schedule {
    width: 90%;
    justify-content: left;
    margin-left: 0%;
}

.font-italic {
    font-style: italic;
    margin-top: 5%;
    color: #ea8427;
}

h3 {
    margin-top: 5%;
    font-size: 6em;
    font-family: 'TELONE';
    color: #ea8427;
    text-align: left;
}

h4 {
    font-size: 4em;
    font-family: 'TELONE';
    color: #ea8427;
    margin-top: 10%;
}

ul {
    font-family: 'Azo Sans';
    margin-top: 0;
    margin-bottom: 10px;
    /* font-weight: bolder;
    color: #ea8427; */
}

.statsbg {
    background-color: #EA8428;
}

.statstext {
    font-size: 5em;
    color: white;
    width: 105%;
    font-family: 'TELONE';
    letter-spacing: 2px;
    line-height: 80px;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 15%;
}

.statsnumber {
    color: white;
    font-size: 16em;
    font-family: 'DIN Alternate';
    margin-bottom: -10%;
    padding-left: 20%;
    margin-top: -1%;
}

.statsimg {
    padding-left: 20%;
}

.whohave {
    color: white;
    font-size: 1.45em;
    padding-left: 20%;
    font-weight: 500;
    font-family: 'Azo Sans';
    padding-top: 3%;
}

.reviews {
    margin-bottom: 5%;
    width: 75%;
}

.reviewname1 {
    font-weight: bold;
    font-family: 'Azo Sans';
    padding-top: 12%;
    font-size: 1.5em;
    color: #3B3B3B;
    margin-left: -55%;
}

.reviewname2 {
    font-weight: bold;
    font-family: 'Azo Sans';
    padding-top: 12%;
    font-size: 1.5em;
    margin-bottom: 0%;
    color: #3B3B3B;
    margin-left: -55%;
}

.reviewone {
    width: 104%;
    margin-left: 0%;
    padding-left: 0%;
}

.reviewtwo {
    width: 104%;
    margin-left: 0%;
    padding-left: 0%;
}

.reviewtext {
    margin-bottom: 3%;
    width: 95%;
    margin-left: 0%;
    padding-left: 0%;
}

.stars {
    padding-left: 0%;
    margin-left: 0%;
}

.fa-star {
    font-size: 2em;
    color: #D6D6D6;
    padding-bottom: 2%;
}

.fa-star:before {
    font-size: 3em;
}

.checked {
    color: #EA8428;
}

.hashtag {
    font-weight: bolder;
    font-family: 'Azo Sans';
}

.instasec {
    height: 520px;
}

.instatext a:hover {
    text-decoration: none;
    color: orange;
}

.instatop {
    margin-top: 30px;
}

.instatext h5 {
    color: #D55E0F;
    font-size: 2.813em;
    font-family: 'Azo Sans';
    font-weight: bolder;
    margin-bottom: 5px;
}

.instatext p {
    color: #676767;
    font-size: 0.75em;
}

.instalink {
    color: #D55E0F;
    font-size: 3em;
    font-family: 'Azo Sans';
    font-weight: bolder;
}

.instafeed {
    padding-top: 20px;
}

.instaimages {
    margin-top: 4%;
}


.booking {
    padding-left: 15%;
}

.booktext1 {
    font-size: 1.5em;
    margin-bottom: 0%;
    padding-left: 15%;
}

.booktext2 {
    font-size: 4em;
    color: #ea8427;
    font-family: 'TELONE';
    margin-top: -3%;
    padding-bottom: 5%;
    padding-left: 15%;
}

.exclamation {
    font-family: 'Verdana';
    font-weight: bolder;
}

.footer {
    background-color: #EA8428;
}

.footerleft {
    padding-top: 3%;
    padding-left: 6%;
}

.footerlinks a {
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}

.footerlinks2 a {
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}

.footer p {
    color: white;
    font-size: 0.75em;
}

.footerlinks li {
    padding-left: 0px;
    list-style-type: none;
}

.footerlinks ul {
    padding-left: 0%;
}

.footerlinks p {
    font-size: 1.125em;
    font-family: 'Azo Sans';
    font-weight: bolder;
    padding-top: 48px;
}

.footerlinks2 {
    padding-top: 82px;
    padding-left: 0%;
}

.footerlinks2 li {
    list-style-type: none;
}

.footerlinks2 ul {
    padding-left: 0%;
}

.footerimages img {
    width: 4%;
    padding-right: 1%;
}

.address {
    padding-top: 15px;
}

/* Three image containers (use 25% for four, and 50% for two, etc)
.column {
    float: left;
    width: 23.33%;
    padding: 5px;
}

 Clear floats after image containers 
.row::after {
    content: "";
    clear: both;
    display: table;
}
*/
